zillaPlusRole="<your zilla plus role"
mskAccessCredentialsARN="<your access credentials ARN for MSK"
publicTlsCertificateKey="<your public tls certificate key ARN"
mskClusterName="<your msk cluster name"
publicTcpPort=<your public tcp port>
zillaPlusSecurityGroups=["<your zilla plus security group>"]
subnetIds=["<your subnet 1>", "<your subnet 2>"]
cloudWatchLogsGroup="<your cloudwatch logs group"
cloudWatchMetricsNamespace="<your cloudwatch metrics namespace>"
keyName="<your ssh key name"
kafkaTopic="<your kafka topic>"
glueRegistry="<your glue registry name>"
