#zilla_plus_role="<your zilla plus role"
#zilla_plus_capacity=<desired zilla plus capacity>
#instance_type="<desired instance type for zilla plus>"
#public_wildcard_dns="<your public wildcard dns>"
#zilla_plus_security_groups=["<your zilla plus security group>"]
#public_port=<your public port>
#public_tls_certificate_key="<your public tls certificate key ARN"
#public_certificate_authority_arn="<your public certificate authority arn>"
#msk_cluster_name="<your msk cluster name"
#msk_certificate_authority_arn="<your msk certificate authority arn>"
#subnet_ids=["<your subnet 1>", "<your subnet 2>"]
#vpc_id="<your vpc id>"
#key_name="<your ssh key name"
#cloudwatch_logs_group="<your cloudwatch logs group"
#cloudwatch_metrics_namespace="<your cloudwatch metrics namespace>"
