#zilla_plus_role="<your zilla plus role"
#zilla_plus_capacity=<desired zilla plus capacity>
#instance_type="<desired instance type for zilla plus>"
#zilla_plus_security_groups=["<your zilla plus security group>"]
#public_tcp_port=<your public tcp port>
#public_tls_certificate_key="<your public tls certificate key ARN"
#msk_cluster_name="<your msk cluster name"
#msk_access_credentials_name="<your msk access credentials name>"
#key_name="<your ssh key name"
#kafka_topic="<your kafka topic>"
#cloudwatch_logs_group="<your cloudwatch logs group"
#cloudwatch_metrics_namespace="<your cloudwatch metrics namespace>"
