
#zilla_plus_security_groups=["<your zilla plus security group>"]
#zilla_plus_role="<your zilla plus role"
#msk_cluster_name="<your msk cluster name"
#msk_certificate_authority_arn="<your msk certificate authority arn>"
#public_tls_certificate_key="<your public tls certificate key ARN"
#public_wildcard_dns="<your public wildcard dns>"
#public_certificate_authority_arn="<your public certificate authority arn>"
#public_port=9094
#cloudwatch_logs_group="<your cloudwatch logs group"
#cloudwatch_metrics_namespace="<your cloudwatch metrics namespace>"
#zilla_plus_capacity=2
#instance_type="t3.small"
#key_name="<your ssh key name"
